[submodule "GlossGallery"]
	path = GlossGallery
	url = https://github.com/AlicJ/GlossGallery.git
[submodule "simpleTabs"]
	path = simpleTabs
	url = https://github.com/AlicJ/simpleTabs.git
[submodule "CyberBlaster"]
	path = CyberBlaster
	url = https://github.com/AlicJ/CyberBlaster.git
