html {
/*	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
*/
}

ul {
	list-style: none;
}

body {
}

header {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	line-height: 80px;
}

#nav-main {
	border-top: 2px solid black;
}

#nav-main ul li {
	float: left;
}